<p style="color: green"><%= notice %></p>

<% content_for :title, "Climbing places" %>

<h1>Climbing places</h1>

<div id="climbing_places">
  <% @climbing_places.each do |climbing_place| %>
    <%= render 'climbing_places/climbing_place_preview', climbing_place: climbing_place %>
  <% end %>
</div>

<%= link_to "New climbing place", new_climbing_place_path %>
