<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="/climbing_icon.png" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold text-body-emphasis">Climbing app</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">An app to find and share climbing places such as gyms, rock boulders, routes, etc.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to root_path, class: "btn btn-dark btn-lg px-4 gap-3" do %>
        Browse climbing places
        <i class="bi text-danger bi-geo-alt-fill"></i>
      <% end %>
    </div>
  </div>
</div>